#bga-help_buttons {
  position: fixed;
  bottom: 12px;
  left: 5px;
  display: flex;
  gap: 10px;
  z-index: 949;
  align-items: flex-end;
}

.bga-help_button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
}

.bga-help_popin-button {
  --background: black;
  --color: white;
  font-weight: bold;
  font-size: 28pt;
  background: var(--background);
  color: var(--color);
}

.bga-help_expandable-button {
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.bga-help_expandable-button .bga-help_folded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.bga-help_expandable-button .bga-help_unfolded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
}

.bga-help_expandable-button[data-folded=false] {
  width: var(--expanded-width);
  height: var(--expanded-height);
  border-radius: var(--expanded-radius);
}

.bga-help_expandable-button[data-folded=false] .bga-help_folded-content {
  opacity: 0;
}

.bga-help_expandable-button[data-folded=false] .bga-help_unfolded-content {
  opacity: 1;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #bga-help_buttons {
    bottom: 5px;
  }
}
#popin_bgaHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_bgaHelpDialog {
  --background-color: white;
  background: var(--background-color);
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-dialog-content {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}

#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

:root {
  --bga-jump-to_eye-url: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E eye %3C/title%3E%3Cpath d='M10 7.5a2.5 2.5 0 1 0 2.5 2.5A2.5 2.5 0 0 0 10 7.5zm0 7a4.5 4.5 0 1 1 4.5-4.5 4.5 4.5 0 0 1-4.5 4.5zM10 3C3 3 0 10 0 10s3 7 10 7 10-7 10-7-3-7-10-7z'/%3E%3C/svg%3E%0A");
}

#bga-jump-to_controls {
  position: fixed;
  top: 50vh;
  z-index: 5;
  user-select: none;
}

#bga-jump-to_controls.folded .bga-jump-to_link:not(.toggle) {
  display: none;
}

#bga-jump-to_controls .bga-jump-to_link {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color);
  margin: 10px 0;
  width: fit-content;
  cursor: pointer;
  height: 22px;
  padding: 2px 5px;
  background: white;
  color: var(--color);
  display: flex;
  align-items: center;
  gap: 5px;
}

#bga-jump-to_controls .bga-jump-to_link .bga-jump-to_avatar {
  width: 20px;
  height: 20px;
  background-color: #fff;
  outline: 1px solid #6a6a6a;
  border-radius: 50%;
  background-image: var(--avatar-url);
  display: inline-block;
  background-size: cover;
}

#bga-jump-to_controls .bga-jump-to_link .bga-jump-to_label {
  background: var(--colorback);
}

#bga-jump-to_controls .bga-jump-to_link.round-point {
  border-radius: 0 11px 11px 0;
  padding-right: 11px;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point {
  border-right-width: 0;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 11px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -11px;
  top: -2px;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 9px solid white;
  content: "";
  position: absolute;
  right: -9px;
  top: 0px;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point {
  border-right-width: 0;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -15px;
  top: -2px;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid white;
  content: "";
  position: absolute;
  right: -13px;
  top: 0px;
}

#bga-jump-to_controls .bga-jump-to_link .eye {
  width: 20px;
  height: 20px;
  mask: var(--bga-jump-to_eye-url) no-repeat center/contain;
  -webkit-mask: var(--bga-jump-to_eye-url) no-repeat center/contain;
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color);
  display: inline-block;
  vertical-align: middle;
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 1;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.splendorduel-card {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 183px;
  border-radius: 8px;
}
.splendorduel-card .card-sides .card-side {
  border-radius: 8px;
  background-size: auto 100%;
}
.splendorduel-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.splendorduel-card.bga-cards_selectable-card:not(.bga-cards_disabled-card):not(.bga-cards_selected-card) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.splendorduel-card.bga-cards_selectable-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.splendorduel-card.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 5px orange;
}
.splendorduel-card.bga-cards_selected-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.splendorduel-card[data-level="1"] .card-side {
  background-image: url("img/cards1.jpg");
}
.splendorduel-card[data-level="2"] .card-side {
  background-image: url("img/cards2.jpg");
}
.splendorduel-card[data-level="3"] .card-side {
  background-image: url("img/cards3.jpg");
}
.splendorduel-card[data-level="1"] .card-side[data-index="1"] {
  background-position-x: 3.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="2"] {
  background-position-x: 6.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="3"] {
  background-position-x: 10%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="4"] {
  background-position-x: 13.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="5"] {
  background-position-x: 16.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="6"] {
  background-position-x: 20%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="7"] {
  background-position-x: 23.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="8"] {
  background-position-x: 26.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="9"] {
  background-position-x: 30%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="10"] {
  background-position-x: 33.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="11"] {
  background-position-x: 36.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="12"] {
  background-position-x: 40%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="13"] {
  background-position-x: 43.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="14"] {
  background-position-x: 46.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="15"] {
  background-position-x: 50%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="16"] {
  background-position-x: 53.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="17"] {
  background-position-x: 56.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="18"] {
  background-position-x: 60%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="19"] {
  background-position-x: 63.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="20"] {
  background-position-x: 66.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="21"] {
  background-position-x: 70%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="22"] {
  background-position-x: 73.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="23"] {
  background-position-x: 76.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="24"] {
  background-position-x: 80%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="25"] {
  background-position-x: 83.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="26"] {
  background-position-x: 86.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="27"] {
  background-position-x: 90%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="28"] {
  background-position-x: 93.3333333333%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="29"] {
  background-position-x: 96.6666666667%;
}
.splendorduel-card[data-level="1"] .card-side[data-index="30"] {
  background-position-x: 100%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="1"] {
  background-position-x: 4.1666666667%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="2"] {
  background-position-x: 8.3333333333%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="3"] {
  background-position-x: 12.5%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="4"] {
  background-position-x: 16.6666666667%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="5"] {
  background-position-x: 20.8333333333%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="6"] {
  background-position-x: 25%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="7"] {
  background-position-x: 29.1666666667%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="8"] {
  background-position-x: 33.3333333333%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="9"] {
  background-position-x: 37.5%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="10"] {
  background-position-x: 41.6666666667%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="11"] {
  background-position-x: 45.8333333333%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="12"] {
  background-position-x: 50%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="13"] {
  background-position-x: 54.1666666667%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="14"] {
  background-position-x: 58.3333333333%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="15"] {
  background-position-x: 62.5%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="16"] {
  background-position-x: 66.6666666667%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="17"] {
  background-position-x: 70.8333333333%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="18"] {
  background-position-x: 75%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="19"] {
  background-position-x: 79.1666666667%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="20"] {
  background-position-x: 83.3333333333%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="21"] {
  background-position-x: 87.5%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="22"] {
  background-position-x: 91.6666666667%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="23"] {
  background-position-x: 95.8333333333%;
}
.splendorduel-card[data-level="2"] .card-side[data-index="24"] {
  background-position-x: 100%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="1"] {
  background-position-x: 7.6923076923%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="2"] {
  background-position-x: 15.3846153846%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="3"] {
  background-position-x: 23.0769230769%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="4"] {
  background-position-x: 30.7692307692%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="5"] {
  background-position-x: 38.4615384615%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="6"] {
  background-position-x: 46.1538461538%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="7"] {
  background-position-x: 53.8461538462%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="8"] {
  background-position-x: 61.5384615385%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="9"] {
  background-position-x: 69.2307692308%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="10"] {
  background-position-x: 76.9230769231%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="11"] {
  background-position-x: 84.6153846154%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="12"] {
  background-position-x: 92.3076923077%;
}
.splendorduel-card[data-level="3"] .card-side[data-index="13"] {
  background-position-x: 100%;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px rgb(255, 212, 131);
  }
  100% {
    box-shadow: 0 0 5px 3px rgb(255, 212, 131);
  }
}
.royal-card {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 183px;
  border-radius: 8px;
}
.royal-card .card-sides .card-side {
  border-radius: 8px;
  background-size: auto 100%;
  background-image: url("img/royal-cards.jpg");
}
.royal-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.royal-card.bga-cards_selectable-card:not(.bga-cards_disabled-card):not(.bga-cards_selected-card) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.royal-card.bga-cards_selectable-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.royal-card[data-index="1"] .card-side {
  background-position-x: 0%;
}
.royal-card[data-index="2"] .card-side {
  background-position-x: 33.3333333333%;
}
.royal-card[data-index="3"] .card-side {
  background-position-x: 66.6666666667%;
}
.royal-card[data-index="4"] .card-side {
  background-position-x: 100%;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px rgb(255, 212, 131);
  }
  100% {
    box-shadow: 0 0 5px 3px rgb(255, 212, 131);
  }
}
.token {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.token .card-sides .card-side {
  border-radius: 50%;
  background-size: auto 100%;
  background-image: url("img/tokens.png");
}
.token .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.token.bga-cards_selectable-card:not(.bga-cards_disabled-card):not(.bga-cards_selected-card) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.token.bga-cards_selectable-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.token.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 5px orange;
}
.token.bga-cards_selected-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}
.token.selected-pay-token {
  outline: 5px solid orange;
}
.token.selected-pay-token .card-side {
  box-shadow: unset;
}
.token[data-type="1"] .card-side {
  background-position-x: 0;
}
.token[data-type="2"][data-color="0"] .card-side {
  background-position-x: 16.6666666667%;
}
.token[data-type="2"][data-color="1"] .card-side {
  background-position-x: 33.3333333333%;
}
.token[data-type="2"][data-color="2"] .card-side {
  background-position-x: 50%;
}
.token[data-type="2"][data-color="3"] .card-side {
  background-position-x: 66.6666666667%;
}
.token[data-type="2"][data-color="4"] .card-side {
  background-position-x: 83.3333333333%;
}
.token[data-type="2"][data-color="5"] .card-side {
  background-position-x: 100%;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px rgb(255, 212, 131);
  }
  100% {
    box-shadow: 0 0 5px 3px rgb(255, 212, 131);
  }
}
.compressed-token-icons {
  display: inline-block;
  margin-left: 20px;
}
.compressed-token-icons .token-icon {
  margin-left: -20px;
}

#table-center-wrapper {
  display: flex;
  justify-content: center;
}

#table-center {
  min-width: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#table-center #board-wrapper {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
#table-center #board-wrapper #bag-and-score-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#table-center #board-wrapper #bag-and-score-tile #bag {
  width: 240px;
  height: 220px;
  background: url("img/bag.png");
}
#table-center #board-wrapper #bag-and-score-tile #score-tile {
  width: 240px;
  height: 203px;
  background: url("img/score-tile.jpg");
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
#table-center #board-wrapper #board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  background: url("img/board.jpg");
  width: 525px;
  height: 436px;
  padding: 10px;
  padding-right: 93px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
#table-center #board-wrapper #board .slot {
  width: 80px;
  height: 80px;
}
#table-center #board-wrapper .board-tooltip-zone {
  position: absolute;
  right: 11px;
  width: 70px;
  height: 70px;
  border-radius: 8px;
}
#table-center #board-wrapper .board-tooltip-zone[data-index="0"] {
  top: 106px;
}
#table-center #board-wrapper .board-tooltip-zone[data-index="1"] {
  top: 186px;
}
#table-center #board-wrapper .board-tooltip-zone[data-index="2"] {
  top: 260px;
}
#table-center #table-cards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

#mouse-selection {
  --selection-color: red;
  position: absolute;
  width: 80px;
  height: 80px;
  transform-origin: 40px 40px;
  box-shadow: 0 0 5px 5px var(--selection-color);
  border-radius: 40px;
  pointer-events: none;
}
#mouse-selection[data-valid=true] {
  --selection-color: green;
}

.player-board {
  background-color: white;
}
.player-board.spectator-mode {
  color: black;
}
.player-board.spectator-mode * {
  background: white !important;
}
.player-board .icon {
  margin-right: 5px;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters > div {
  flex: 1;
}
.player-board .player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/cards.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.player-board .spl_miniplayerboard {
  margin-top: 10px;
  font-family: "abril-titling";
}
.player-board .spl_miniplayerboard .spl_ressources_container {
  align-items: center;
  display: flex;
  margin-top: 4px;
}
.player-board .spl_miniplayerboard .spl_ressources_container .spl_ressources {
  margin: auto auto -10px;
  position: relative;
}
.player-board .spl_miniplayerboard .spl_ressources_container .spl_ressources .spl_minigem {
  background-image: url(img/oleum-small.webp);
  background-size: auto 100%;
  height: 14.266px;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 16px;
  z-index: 1;
}
.player-board .spl_miniplayerboard .spl_ressources_container .spl_ressources .spl_minigem[data-color="1"] {
  background-position-x: 25%;
}
.player-board .spl_miniplayerboard .spl_ressources_container .spl_ressources .spl_minigem[data-color="2"] {
  background-position-x: 0%;
}
.player-board .spl_miniplayerboard .spl_ressources_container .spl_ressources .spl_minigem[data-color="3"] {
  background-position-x: 100%;
}
.player-board .spl_miniplayerboard .spl_ressources_container .spl_ressources .spl_minigem[data-color="4"] {
  background-position-x: 50%;
}
.player-board .spl_miniplayerboard .spl_ressources_container .spl_ressources .spl_minigem[data-color="5"] {
  background-position-x: 75%;
}
.player-board .spl_miniplayerboard .spl_cardcount {
  display: inline-block;
  text-align: center;
  user-select: none;
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  font-size: 24px;
  border: 2px solid #000;
  border-radius: 25%;
  position: relative;
  width: 26px;
  height: 35px;
  margin: auto;
  z-index: 0;
  line-height: 32px;
}
.player-board .spl_miniplayerboard .spl_cardcount[data-color="1"] {
  background: radial-gradient(ellipse, #5bcbf5 30%, #193180);
}
.player-board .spl_miniplayerboard .spl_cardcount[data-color="2"] {
  background: radial-gradient(ellipse, #fff 30%, #cecfd1);
}
.player-board .spl_miniplayerboard .spl_cardcount[data-color="3"] {
  background: radial-gradient(ellipse, #80c341 30%, #006830);
}
.player-board .spl_miniplayerboard .spl_cardcount[data-color="4"] {
  background: radial-gradient(ellipse, #000 30%, #413b3a);
}
.player-board .spl_miniplayerboard .spl_cardcount[data-color="5"] {
  background: radial-gradient(ellipse, #f36f21 30%, #a21b1f);
}
.player-board .spl_miniplayerboard .spl_cardcount.empty {
  opacity: 0.4;
}
.player-board .spl_miniplayerboard .spl_coinpile {
  background-image: url("img/tokens.png");
  background-size: auto 100%;
  border-radius: 50%;
  height: 28px;
  left: -1px;
  margin: auto 2px;
  position: relative;
  top: -10px;
  width: 28px;
  z-index: 1;
  text-align: center;
  user-select: none;
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  font-size: 20px;
  line-height: 28px;
}
.player-board .spl_miniplayerboard .spl_coinpile.empty {
  visibility: hidden;
}
.player-board .spl_miniplayerboard .spl_coinpile[data-type="1"] {
  background-position-x: 0;
}
.player-board .spl_miniplayerboard .spl_coinpile[data-type="2"][data-color="0"] {
  background-position-x: 16.6666666667%;
}
.player-board .spl_miniplayerboard .spl_coinpile[data-type="2"][data-color="1"] {
  background-position-x: 33.3333333333%;
}
.player-board .spl_miniplayerboard .spl_coinpile[data-type="2"][data-color="2"] {
  background-position-x: 50%;
}
.player-board .spl_miniplayerboard .spl_coinpile[data-type="2"][data-color="3"] {
  background-position-x: 66.6666666667%;
}
.player-board .spl_miniplayerboard .spl_coinpile[data-type="2"][data-color="4"] {
  background-position-x: 83.3333333333%;
}
.player-board .spl_miniplayerboard .spl_coinpile[data-type="2"][data-color="5"] {
  background-position-x: 100%;
}
.player-board .token-counter {
  /*font-family: "abril-titling";
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  font-size: 20px;*/
  text-align: right;
}

.player-table {
  min-width: 890px;
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--player-color);
  border-radius: 15px;
  margin: 5px;
  font-size: 16pt;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-table .name-wrapper {
  color: var(--player-color);
  position: relative;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-family: "abril-titling";
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white;
}
.player-table .hand-wrapper {
  background: rgba(255, 255, 255, 0.5333333333);
  border-radius: 8px;
}
.player-table .hand-wrapper .block-label {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  text-align: center;
  color: white;
  padding: 5px;
  text-overflow: ellipsis;
}
.player-table .columns {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 120px);
  gap: 5px;
  margin: 10px;
}
.player-table .columns .cards {
  border-radius: 8px;
}
.player-table .columns .cards .card:not(:first-child) {
  margin-top: calc(-1 * var(--card-overlap));
}
.player-table .columns .cards.selectable-for-joker {
  outline: 4px dashed orange;
  cursor: pointer;
}
.player-table .columns .tokens {
  align-items: center;
}
.player-table .columns .tokens .token:not(:first-child) {
  margin-top: calc(-1 * var(--card-overlap));
}

.color-help-folded-content {
  background: url("img/logo-coloradd.svg") #dfe8e8 center no-repeat;
  background-size: contain;
}

.color-help-unfolded-content {
  display: grid;
  grid-template-columns: 40px 80px;
  align-items: center;
  justify-items: center;
  background: #dfe8e8;
}
.color-help-unfolded-content .color {
  width: 18px;
  height: 18px;
}
.color-help-unfolded-content .label {
  font-size: 10pt;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 42px;
  word-break: break-word;
  color: black;
}

#help-popin h1 {
  color: #5890a9;
  font-size: 18px;
  margin: 8px 0;
}
#help-popin .help-section {
  padding: 5px;
  margin: 3px 0;
  display: flex;
}
#help-popin .help-section > div:not(:first-child) {
  margin-left: 5px;
  flex: 1;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
@font-face {
  font-family: "abril-titling";
  src: url("img/abril-titling.woff2") format("woff2"), url("img/abril-titling.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg") #72749a;
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: top;
}

#notice {
  background: #ffd247;
  border-radius: 15px;
  display: none;
  text-align: center;
}
#notice.visible {
  display: block;
}
#notice button {
  width: auto;
}

#bga-zoom-wrapper {
  padding-top: 32px;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.icon.crown {
  background-position-x: 0%;
}
.icon.card-column {
  background-position-x: 50%;
}
.icon.privilege {
  background-position-x: 100%;
}

.action-button .icon, .action-button .color, .log .icon, .log .color {
  width: 24px;
  height: 24px;
}

.dijitTooltipContents .icon, .dijitTooltipContents .color {
  width: 20px;
  height: 20px;
}

.token-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: auto 100%;
  background-image: url("img/tokens.png");
  vertical-align: middle;
}
.token-icon[data-type="-1"] {
  background-position-x: 0%;
}
.token-icon[data-type="0"] {
  background-position-x: 16.6666666667%;
}
.token-icon[data-type="1"] {
  background-position-x: 33.3333333333%;
}
.token-icon[data-type="2"] {
  background-position-x: 50%;
}
.token-icon[data-type="3"] {
  background-position-x: 66.6666666667%;
}
.token-icon[data-type="4"] {
  background-position-x: 83.3333333333%;
}
.token-icon[data-type="5"] {
  background-position-x: 100%;
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
  margin-right: 10px;
}
#tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
#tables-and-center.double-column {
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
#tables-and-center.double-column > div {
  flex: 1;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
  color: white;
  text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;
}
#last-round .last-round-text {
  display: inline-block;
}
#last-round .last-round-text.animate {
  animation: last-round-animation 2s 1 forwards ease-in-out;
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
