.splendorduel-card {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 183px;
    border-radius: 8px;

    .card-sides {
        .card-side {
            border-radius: 8px;
            background-size: auto 100%;

            &>* {
                pointer-events: none;
                user-select: none;
            }
        }
    }    

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    }

    @for $level from 1 through 3 {
        &[data-level="#{$level}"] .card-side {
            background-image: url('img/cards#{$level}.jpg');
        }
    }

    @for $index from 1 through 30 {
        &[data-level="1"] .card-side[data-index="#{$index}"] {
            background-position-x: #{$index * 100% / 30};
        }
    }

    @for $index from 1 through 24 {
        &[data-level="2"] .card-side[data-index="#{$index}"] {
            background-position-x: #{$index * 100% / 24};
        }
    }

    @for $index from 1 through 13 {
        &[data-level="3"] .card-side[data-index="#{$index}"] {
            background-position-x: #{$index * 100% / 13};
        }
    }
}

@keyframes selectable-card-animation {
    0% {
      box-shadow: 0 0 3px 2px rgb(255, 212, 131);
    }
    100% { 
      box-shadow: 0 0 5px 3px rgb(255, 212, 131);
    }
}
