@use 'sass:math';

.counterfeiter-card {
    display: inline-block;
    position: relative;
    width: 183px;
    height: 120px;
    border-radius: 8px;

    .card-sides {
        .card-side {
            border-radius: 8px;
            background-size: 200% auto;
            background-image: url('img/counterfeiter-cards.jpg');

            &>* {
                pointer-events: none;
                user-select: none;
            }

            &.back {
                background-position: 100% 100%;
            }
        }
    }    

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }

    @for $index from 1 through 17 {
        &[data-index="#{$index}"] .card-side.front {
            background-position: #{(($index - 1) % 2) * 100%} #{math.floor(($index - 1) / 2) * 100% / 8};
        }
    }
}

@keyframes selectable-card-animation {
    0% {
      box-shadow: 0 0 3px 2px rgb(255, 212, 131);
    }
    100% { 
      box-shadow: 0 0 5px 3px rgb(255, 212, 131);
    }
}
