.player-table {
  min-width: 890px;
  width: 100%;
  position: relative;
  background: #FFFFFF33;
  //box-shadow: 0 0 5px 2px var(--player-color);
  //border: 3px solid rgb(235 213 189);
  border: 2px solid var(--player-color);
  border-radius: 15px;
  margin: 5px;
  font-size: 16pt;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .name-wrapper {
    color: var(--player-color);
    position: relative;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-family: 'abril-titling';
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white;
  }

  .hand-wrapper {
    background: #FFFFFF88;
    border-radius: 8px;

    .block-label {
      text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
      text-align: center;
      color: white;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }

  .columns {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 120px);
    gap: 5px;
    margin: 10px;

    .cards {
      border-radius: 8px;
      
      .card {
        &:not(:first-child) {
            margin-top: calc(-1 * var(--card-overlap));
        }
      }

      &.selectable-for-joker {
        outline: 4px dashed orange;
        cursor: pointer;
      }

      &[data-color="1"] { background: #22a9ce33; }
      &[data-color="2"] { background: #e4d3be33; }
      &[data-color="3"] { background: #64a93533; }
      &[data-color="4"] { background: #57595b33; }
      &[data-color="5"] { background: #eb676533; }
      &[data-color="9"] { background: #babcbe33; }
    }

    .tokens {
      align-items: center;

      .token {
        &:not(:first-child) {
            margin-top: calc(-1 * var(--card-overlap));
        }
      }
    }
  }
}
