#table-center-wrapper {
  display: flex;
  justify-content: center;
}

#table-center {
  min-width: 820px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  #board-wrapper {
    display: flex;
    align-items: stretch;
    gap: 20px;

    #bag-and-score-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      #bag {
        width: 240px;
        height: 220px;
        background: url('img/bag.png');
      }

      #score-tile {
        width: 240px;
        height: 203px;
        background: url('img/score-tile.jpg');
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
      }

    }

    #board {
      position: relative;
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(5, 1fr);
      background: url('img/board.jpg');
      width: 525px;
      height: 436px;
      padding: 10px;
      padding-right: 93px;
      box-sizing: border-box;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
      border-radius: 4px;

      .slot {      
        width: 80px;
        height: 80px;
      }
    }

    .board-tooltip-zone {
      position: absolute;
      right: 11px;
      width: 70px;
      height: 70px;
      border-radius: 8px;

      &[data-index="0"] { top: 106px; }
      &[data-index="1"] { top: 186px; }
      &[data-index="2"] { top: 260px; }
    }
  }

  #table-cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
}

#mouse-selection {
  --selection-color: red;

  position: absolute;
  width: 80px;
  height: 80px;
  transform-origin: 40px 40px;
  box-shadow: 0 0 5px 5px var(--selection-color);
  border-radius: 40px;
  pointer-events: none;

  &[data-valid="true"] {
    --selection-color: green;
  }
}

#bag-counter {
  font-family: "abril-titling";
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}