.token {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  .card-sides {
      .card-side {
          border-radius: 50%;
          background-size: auto 100%;
          background-image: url('img/tokens.png');
          border: 5px solid transparent;

          &>* {
              pointer-events: none;
              user-select: none;
          }
      }
  }    

  &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
      &:not(.bga-cards_selected-card) {
          animation: selectable-card-animation 1s alternate infinite ease-in-out;
      }

      .card-side {
          box-shadow: unset;
      }
  }    

  &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
      box-shadow: 0 0 5px 5px orange;

      .card-side {
          box-shadow: unset;
      }
  }
    
  &.selected-pay-token {
      outline: 5px solid orange;

      .card-side {
          box-shadow: unset;
      }
  }

    &[data-type="1"] .card-side {
        background-position-x: 0;
        border-color: #FFCE37;
    }

    @for $color from 0 through 5 {
        &[data-type="2"][data-color="#{$color}"] .card-side {
            background-position-x: #{($color + 1) * 100% / 6};
        }
    }

    &[data-type="2"][data-color="0"] .card-side { border-color: #E49AC3; }
    &[data-type="2"][data-color="1"] .card-side { border-color: #0273AE; }
    &[data-type="2"][data-color="2"] .card-side { border-color: #FFFFFF; }
    &[data-type="2"][data-color="3"] .card-side { border-color: #00A965; }
    &[data-type="2"][data-color="4"] .card-side { border-color: #28272B; }
    &[data-type="2"][data-color="5"] .card-side { border-color: #EF405E; }
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px rgb(255, 212, 131);
  }
  100% { 
    box-shadow: 0 0 5px 3px rgb(255, 212, 131);
  }
}
