#table-center-wrapper {
  display: flex;
  justify-content: center;
}

#table-center {
  min-width: 818px;

  display: grid;
  grid-template-columns: 120px 690px;
  gap: 8px;

  .table-destinations-deck {
    margin-left: -102px;
  }

  #table-destinations-A, #table-destinations-B {
    .slot {      
      width: 221px;
      height: 120px;
    }
  }

  #board {
    position: relative;
    width: 690px;
    height: 256px;
    background: url('img/board.jpg');
  }

  #table-cards {
    .slot {      
      width: 120px;
      height: 221px;
    }
  }

  #card-deck[data-empty="true"] {
    background: #FFFFFF66;
    border-radius: 8px;
  }

  .bga-cards_deck-counter {
    pointer-events: all;

    &#deck-counter {      
      --bga-cards-deck-left: 25%;
    }

    &#discard-counter {
      background-color: #aaaaaa;
      --bga-cards-deck-left: 75%;
    }
  }
}