#help-dialog-content {
    .help-section {    
        padding: 5px;
        margin: 3px 0;

        display: grid;
        grid-template-columns: 48px 1fr;
        gap: 5px;
    }
}

html[data-theme="light"] {
    #popin_bgaHelpDialog {
        color: black;
        background: white;
    }
}

html[data-theme="dark"] {
    #popin_bgaHelpDialog {
        color: var(--game-palette-bga-gray-950);
        background: var(--game-palette-bga-gray-244);
    }
}